strict-peer-dependencies=false
@sakurarealm:registry=https://sakurarealm-npm.pkg.coding.net/sakurarealmbot/sakurabot-koishi/
always-auth=true
//sakurarealm-npm.pkg.coding.net/sakurarealmbot/sakurabot-koishi/:username=sakurabot-koishi-1691141947654
//sakurarealm-npm.pkg.coding.net/sakurarealmbot/sakurabot-koishi/:_password=NjAyOWUwYWI0NjczOGM5M2NhNzllYWRmOGQ4YTg3OTY1N2MxOGJlOA==
//sakurarealm-npm.pkg.coding.net/sakurarealmbot/sakurabot-koishi/:email=2020212726@qq.com