strict-peer-dependencies=false
@sakurarealm:registry=https://sakurarealm-npm.pkg.coding.net/sakurabot/main/
always-auth=true
//sakurarealm-npm.pkg.coding.net/sakurabot/main/:username=main-1698747603872
//sakurarealm-npm.pkg.coding.net/sakurabot/main/:_password=NWExZWVmZjM1YTVmYzdiYTI3MTVhOTIyMzI2NzMzZWMzOTY3YTk4Ng==
//sakurarealm-npm.pkg.coding.net/sakurabot/main/:email=constasj@qq.com